*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #ba9bac;
}

.header{
	position: fixed;
	width:100%;
	background-color: black;
	padding: 10px;
	margin-bottom: 10px;
}

.header ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

.header li{
	display: inline;
	vertical-align: center;
	list-style: none;
	padding: 10px 15px 10px 15px;
}

.header li:hover{
	background-color: purple;
}

.header a{
	font-size: 30px;
	color: white;
	text-decoration: none;
	padding: 10px;
}

.content{
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #db309d;
}

.content h2{
	font-size: 60px;
	color: white;
	border: 3px solid purple;
}

.picture{
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-left: 15%;
}

.picture a img{
	display: inline-block;
	width: 20%;
	padding: 5px;
}

footer{
	border-top: 2px solid purple;
}

footer p{
	font-size: 20px;
	text-align: center;
}

