*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	position: fixed;
	width:100%;
	background-color: black;
	padding: 10px;
	margin-bottom: 10px;
}

.header ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

.header li{
	display: inline;
	vertical-align: center;
	list-style: none;
	padding: 10px 15px 10px 15px;
}

.header li:hover{
	background-color: purple;
}

.header a{
	font-size: 30px;
	color: white;
	text-decoration: none;
	padding: 10px;
}